[submodule "tests/mozilluminate/moztrap_integration/moztrapcli"]
	path = tests/mozilluminate/moztrap_integration/moztrapcli
	url = https://github.com/shinglyu/moztrap-cli.git
[submodule "tests/mozilluminate/moztrap_integration/cucumber-js"]
	path = tests/mozilluminate/moztrap_integration/cucumber-js
	url = https://github.com/shinglyu/cucumber-js.git
[submodule "tests/mozilluminate/moztrap_integration/markdown-testfile-to-json"]
	path = tests/mozilluminate/moztrap_integration/markdown-testfile-to-json
	url = https://github.com/JohanLorenzo/markdown-testfile-to-json.git
